<section class="photos-container">
    <div class="image-container">
        <a [routerLink]="'photos/1'">
            <img [src]="'https://picsum.photos/300/300'" />
        </a>
    </div>
    <div class="image-container">
        <a [routerLink]="'photos/1'">
            <img [src]="'https://picsum.photos/300/300'" />
        </a>
    </div>
    <div class="image-container">
        <a [routerLink]="'photos/1'">
            <img [src]="'https://picsum.photos/300/300'" />
        </a>
    </div>
    <div class="image-container">
        <a [routerLink]="'photos/1'">
            <img [src]="'https://picsum.photos/300/300'" />
        </a>
    </div>
    <div class="image-container">
        <a [routerLink]="'photos/1'">
            <img [src]="'https://picsum.photos/300/300'" />
        </a>
    </div>
    <div class="image-container">
        <a [routerLink]="'photos/1'">
            <img [src]="'https://picsum.photos/300/300'" />
        </a>
    </div>
</section>

<div class="loading">
    <span>Loading...</span>
</div>
