.photos-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 3em;
}

.image-container {
    & img {
        width: 25vw;
        height: 200px;
    }

    & img.selected {
        padding: 2px;
        border: 2px solid rgb(143, 203, 143);
        border-radius: 5px;
    }
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.no-items{
  display: flex;
  justify-content: center;
  align-items: center;
}


