.photo-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    & img {
        width: 100%;
    }
}

.remove-fav-btn {
    width: 50%;
    margin: 2em auto;
    padding: 1em;
}

